/*Base Styles*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

/***********/

.task-list {
    background-color: #f1fce1;
    display: flex;
    font-size: 1.5rem;
    min-height: 200px;
    padding: 10px;
    width: 850px;
}

.task-input {
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
}

.task-input__field {
    height: 35px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    margin-bottom: 15px;
    width: 100%;
}

.task-input__add,
.task-input__clear,
.task-input__done {
    border: none;
    border-radius: 6px;
    background-color: #37db65;
    font-weight: 600;
    padding: 10px;
    text-transform: uppercase;
    transition: all .4s ease-in-out;
}

.task-input__add:hover,
.task-input__clear:hover,
.task-input__done:hover {
    background-color: #d0d9d4;
}

.task-input__add:focus,
.task-input__clear:focus,
.task-input__done:focus {
    background-color: #d0d9d4;
}

.task-wrap {
    width: 40%;
}

.list {
    list-style: none;
    padding: 5px;
    margin: 0;
}

.list-checkbox {
    display: none;
}

.label-checkbox {
    background-color: #f5d442;
    cursor: pointer;
    margin-right: 15px;
    width: 20px;
    transition: all .4s;
}

.list-checkbox:checked  + .label-checkbox {
    background-color: #42f545;
}

.label-checkbox:hover {
    background-color: #42f545;
}

.list__remove-button {
    border-radius: 50%;
    cursor: pointer;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    right: 0;
    transition: all .4s ease-in-out;
    transform: translateY(-50%);
}

.list__remove-button::after,
.list__remove-button::before {
    background-color: #f5d442;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 15px;
    height: 15px;
    height: 2px;
    transform: translate(-50%, -50%);
    transition: all .4s ease-in-out;
}

.list__remove-button::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.list__remove-button::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.list__remove-button:hover {
    background-color: #f5425a;
}

.list-item {
    background-color: #f7fcfa;
    border: 1px solid transparent;
    border-radius: 6px;
    overflow: hidden;
    padding: 10px;
    position: relative;
    display: flex;
}

.done-task {
    text-decoration: line-through;
    border: 1px solid #35ed28;
}